<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kinglong.baseapp.mybaseapp">

    <application
            android:name=".BaseAppliction"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.kinglong.baseapp.mybaseapp.view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.Restore.RestoreTestActivity"/>
        <activity android:name=".view.Restore.RestoreTestActivity2"/>
        <activity android:name=".view.Restore.RestoreTestActivity3"/>

        <meta-data
                android:name="UMENG_APPKEY"
                android:value="5844017ce88bad26de0002a8" >
        </meta-data>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="Umeng" >
        </meta-data>
    </application>
    <!-- begin permission -->
    <!-- 重启权限（退出系统权限） -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <!-- <uses-permission android:name="android.permission.REORDER_TASKS" /> -->
    <!-- 连接互联网权限（连接服务器端） -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 读写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 快捷方式创建权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!--横竖屏切换时设置-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- 获取应用程序大小 -->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE"/>

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <!--向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!--友盟推送-->
    <!-- 必选 -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL"/>
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>